@model Project_BanSach.Models.Sach

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_QuanLy.cshtml";
}

<h1>Edit</h1>

<h4>Sach</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaSach" />
            <div class="form-group">
                <label asp-for="TenSach" class="control-label"></label>
                <input asp-for="TenSach" class="form-control" />
                <span asp-validation-for="TenSach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HinhAnh" class="control-label"></label>
                <input asp-for="HinhAnh" class="form-control" />
                <span asp-validation-for="HinhAnh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaBan" class="control-label"></label>
                <input asp-for="GiaBan" class="form-control" />
                <span asp-validation-for="GiaBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label"></label>
                <input asp-for="TrangThai" class="form-control" />
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaNxbSach" class="control-label"></label>
                <select asp-for="MaNxbSach" class="form-control" asp-items="ViewBag.MaNxbSach"></select>
                <span asp-validation-for="MaNxbSach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaTgSach" class="control-label"></label>
                <select asp-for="MaTgSach" class="form-control" asp-items="ViewBag.MaTgSach"></select>
                <span asp-validation-for="MaTgSach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaLoaiSachSach" class="control-label"></label>
                <select asp-for="MaLoaiSachSach" class="form-control" asp-items="ViewBag.MaLoaiSachSach"></select>
                <span asp-validation-for="MaLoaiSachSach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaNccSach" class="control-label"></label>
                <select asp-for="MaNccSach" class="form-control" asp-items="ViewBag.MaNccSach"></select>
                <span asp-validation-for="MaNccSach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaCateSach" class="control-label"></label>
                <select asp-for="MaCateSach" class="form-control" asp-items="ViewBag.MaCateSach"></select>
                <span asp-validation-for="MaCateSach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaDiscSach" class="control-label"></label>
                <select asp-for="MaDiscSach" class="form-control" asp-items="ViewBag.MaDiscSach"></select>
                <span asp-validation-for="MaDiscSach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
