
@{
    ViewData["Title"] = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="gioHang">
    <div class="titleGH">
        <div class="tsp">
            <p>Sẩn phẩm</p>
        </div>
        <div class="tinf">
            <div class="pinf">
                <p >Đơn giá</p>
            </div>
            <div class="pinf">
                <p >Số lượng</p>
            </div>
            <div class="pinf"> 
                <p >Tổng tiền</p>
            </div>
        </div>
    </div>
    <div id="ingh">
        @*
        <div class="anh">
            <img src="https://vbookshop.com/wp-content/uploads/2022/03/Cay-cam-ngot-cua-toi.jpg" class="imgbook"/>
            <p class="pSachgh">Cây cam ngọt của tôi</p>
        </div>
        <div class="thongtin">
            <div class ="dongia">
                    <p>100000 d</p>
            </div>
            <div class ="soluong" style="margin-top: 15%; border: none;">
                <input type="number" />
            </div>
            <div class ="thanhtien">
                <p>100000 d</p>
            </div>
        </div>
        *@
    </div>
    
 </div>

<div id="sumDH" style="height: 100px; font-size:20pt;">
</div>
<div id="thanhToan">
    <input type="button" style="background-color: #FED361;" value="Thanh Toán" onclick="thanhToan()" />
</div>
